body {
    background-color: #F6F6F6;
    background-image: url("../../img/access/background.svg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', 'Nunito', Helvetica, sans-serif;
    color: #555555;

}

.registrarseText {
    font-family: 'Roboto', 'Nunito', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #555555;
}

.registrarseTextSmall {
    font-family: 'Roboto', 'Nunito', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}

.cardHeaderImg {
    background-image: url("../../img/access/cardHeaderImage.svg");
    background-size: cover;
}

.cardBodyImg {
    background-image: url("../../img/access/cardBodyImage.svg");
    background-size: cover;
}

